@{
    ViewData["Title"] = "CreatingAction";
}

<div>
    <form method="post">
        <label>Day</label><br/>
        <p><input type="date" name="day"/></p><br/>
        <label>Index</label><br/>
        <p><input type="number" name="index"/></p>
        <label>ToDo</label><br/>
        <p><input name="toDo"/></p><br/>
        <input type="submit" value="send"/>
    </form>
</div>