<!DOCTYPE html>

<html lang="">
<head>
    <title>title</title>
</head>
<form method="post">
    <p><input name="userName"/></p>
    <p><input type="date" name="day"/></p>
    <input type="submit" value="send"/>
</form>
</html>